<p id="notice"><%= notice %></p>

<table class="table">
<tr>
  <td><strong>Day:</strong></td>
  <td><%= @schedule.day %></td>
</tr>

<tr>
  <td><strong>Title:</strong></td>
  <td><%= @schedule.title %></td>
</tr>

<tr>
  <td><strong>Body:</strong></td>
  <td><%= @schedule.body %></td>
</tr>
</table>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
