<!DOCTYPE html>
<html>
  <head>
    <title>SchedulerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">スケジュール</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarEexample">
			<ul class="nav navbar-nav">
				<li><a href="/">カレンダー</a></li>
				<li><a href="/schedules">登録</a></li>
			</ul>
		</div>
	</div>
</nav>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
